<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.inventoryapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.UpdateProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ui.ClerkActivity"
            android:exported="true"
            android:label="Clerk Online" />
        <activity
            android:name=".ui.AdminActivity"
            android:exported="true"
            android:label="Admin Online" />
        <activity
            android:name=".ui.AddClerkActivity"
            android:exported="true" />
        <activity
            android:name=".ui.AddProduct"
            android:exported="true" />
        <activity
            android:name=".ui.UpdateProduct"
            android:exported="true" />
        <activity
            android:name=".ui.GraphReportActivity"
            android:exported="true" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="Inventory App"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ProductsActivity"
            android:exported="true"
            android:label="Products" />
        <activity
            android:name=".ui.StoresDashboardActivity"
            android:exported="true" />
        <activity
            android:name=".ui.AddStoreAdminActivity"
            android:exported="true" />
        <activity
            android:name=".ui.AddStoreActivity"
            android:exported="true" />
        <activity
            android:name=".ui.RegisterStoreOwnerActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.OwnerLoginActivity" />
        </activity>
        <activity
            android:name=".ui.OwnerLoginActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.inventoryapp.ui.SelectAccountActivity" />
        </activity>
        <activity
            android:name=".ui.AttendantLoginActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.inventoryapp.ui.SelectAccountActivity" />
        </activity>
        <activity
            android:name=".ui.SelectAccountActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.MyAdminsDashBoardActivity"
            android:exported="true" />
        <activity
            android:name=".ui.MyClerksDashBoardActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>